.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #3d5170;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

#refreshbtn{
  height:50px;
  width:140px;
  background-color: rgb(149, 5, 5);
  margin-left: 46%;
  margin-top: 100px;
  border-radius: 10px;
  border-color: rgb(149, 5, 5);
  color: rgb(232, 217, 192);
  font-size: 20px;
  display: inline-block;

}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
